body {
	background-color: #d9eaf1;
}
table.main {
	font-family: monospace;
	border: solid black;
	border-width: 2px 0px 0px 2px;
	border-spacing: 0px;
	border-collapse: collapse;
}
table.main>tbody>tr>td {
	border-style: dotted;
	border-color: black;
	border-width: 0px 2px 2px 0px;
}
table.main>tbody>tr>td:nth-child(3n) {
	border-right-style:solid;
}

table.main>tbody>tr:nth-child(3n)>td {
	border-bottom-style:solid;
}
div.solved {
	padding: 10px 17px;
	font-size: 24px;
}

table.candidates {
    border-spacing: 0;
}

table.candidates>tbody>tr>td {
    padding: 0px 4px;
}